# ========================
# Build / binários
# ========================
bin/
build/
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# ========================
# Go test / coverage
# ========================
*.test
*.out
coverage.out

# ========================
# Logs
# ========================
*.log
logs/

# ========================
# Env
# ========================
.env
.env.*
!.env.example

# ========================
# IDE
# ========================
.idea/
.vscode/
*.iml

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# Temp
# ========================
tmp/
.cache/